<!DOCTYPE html>
<html>
    <head>
    <title>Where can I get lunch around here?</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css" />
    </head>
    <body>
    <main>
        <nav>
        <ul>
            <li><a href="/skills">&lt; Back</a></li>
        </ul>
        </nav>

        <hgroup>
        <h1><%= skill.skill %></h1>
        <h2><strong><%= skill.genre %></strong> - <small><%= skill.price %></small></h2>
        </hgroup>

        <h6><%= skill.address %></h6>

        <iframe
        src="https://maps.google.com/maps?output=embed&amp;q=<%= skill.address %>"
        width="500"
        height="400"
        ></iframe>
    </main>
    </body>
</html>
